{% extends "layoutUser.html" %}
{% block content%}


<div class="container">
    <div align="center">
           <h3>El consultorio San Francisco ofrece los siguientes servicios:</h3>
    </div>

  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PULPECTOMIA</h5>
        <div>
            <iframe class="iframe" src="https://www.youtube.com/embed/DC651QV4JEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <p class="card-text">Este tratamiento se lleva a cabo en casos en los que la caries es muy profunda y ha afectado de forma notable a la parte vital del diente, la pulpa y los conductos del nervio. </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PROFILAXIS</h5>
        <div>
          <iframe class="iframe" src="https://www.youtube.com/embed/2vuIZAo57-k?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="card-text">Es un procedimiento práctico llevado a cabo por higienistas dentales y/u odontólogos. El objetivo principal es prevenir patologías periodontales y limpiar la superficie de los dientes eliminando el sarro y la placa endurecida.</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CURACIÓN</h5>
        <div>
        <iframe class="iframe" src="https://www.youtube.com/embed/1yGaQ9LC6A8?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <p class="card-text">La curación dental es un modo de reparar un diente dañado por caries y devolverle su función y forma normal. El dentista primero retira el material cariado, limpia la zona afectada, luego rellena la cavidad con un material de restauración.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ORTODONCIA</h5>
        <div>
      <iframe class="iframe" src="https://www.youtube.com/embed/qZjPTWfwgzQ?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <p class="card-text">La ortodoncia se encarga de todo el estudio, prevención, diagnóstico y tratamiento de las anomalías de forma, posición, relación y función de las estructuras dentomaxilofaciales</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CIRUGIAS</h5>
        <div>
        <iframe class="iframe" src="https://www.youtube.com/embed/QwxUMyzRUXs?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="card-text">La cirugía dental es cualquiera de una serie de procedimientos médicos que involucran la modificación artificial de la dentición; en otras palabras, cirugía de los dientes, las encías y los huesos de la mandíbula</p>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}