{% extends "layoutUser.html" %}
{% block content%}
    <div class="container">
        <h1>Web Kiruseñas</h1>

        <h3>Acerca de web</h3>
        <p>
            Esta aplicación permite la comunicación entre un odontólogo y un paciente con discapacidad auditiva en una consulta odontológica.
        </p>
        <h1>Presentación</h1>
    <iframe width="100%" height="630" src="https://www.youtube.com/embed/_mG-RCJK_lg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
